// about.jade
extends layout

block content
  .container.about-page
    h1 About Us
    p Welcome to our Recipe Hub! Here, you can find a variety of delicious recipes to inspire your cooking!
    p Whether you’re looking for a quick meal, a gourmet dish, or something healthy, We have a variety of recipes for every taste and occasion.
    p Explore our collection and find your next favorite dish. Happy cooking!
