doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href='/bootstrap/css/amelia.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='/') Recipe Hub
        ul.nav.navbar-nav
          li: a(href='/recipes') Recipes
          li: a(href='/categories') Categories
          li: a(href='/reviews') Reviews
          li: a(href='/about') About
    block content
